<section class="breadcrumb-section">
  <div class="container">
    <div class="col-sm-12 col-xs-12 text-center">
      <div class="breadcrumb-content">
        <h2>Chat Room</h2>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<div class="col-sm-4 col-lg-3 col-xs-12">
  <aside class="widget">
    <h4 class="widget-title">Conversations</h4>
      <ul>
        <%= render @chat_rooms %>
      </ul>
  </aside>
</div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-lg-9 col-xs-12">
    <div class = "chat-body">
        <!--Widget body-->
        <div id="demo-chat-body" class="collapse in">
          <div class="nano has-scrollbar" style="height:380px">
            <div class="nano-content pad-all" tabindex="0" style="right: -17px;">
              <ul class="list-unstyled media-block">
                <div id="messages" data-chat-room-id="<%= @chat_room.id %>" data-current-user-id="<%= current_user.id %>">
                  <%= render @chat_room.messages %>
                </div>
              </ul>
            </div>
            <div class="nano-pane"><div class="nano-slider" style="height: 141px; transform: translate(0px, 0px);"></div></div></div>
      </div>
              <!--Widget footer-->
              <div class="panel-footer">
                <%= form_for @message, url: '#' do |f| %>
                  <%= hidden_field_tag 'chat_room_id', @chat_room.id %>
                    <div class="row">
                      <div class="col-xs-9">
        <!--                 <input type="text" placeholder="Enter your text" class="form-control chat-input">
         -->                <%= f.text_area :body, class: 'form-control chat-input' %>
                      </div>
                  <div class="button" align="center">
                    <%= button_tag "<span> Send </span>".html_safe, class: "btn primary-btn"%>
                  </div>
                  </div>
                <% end %>
              </div>
            </div> 
          </div>

            </div>
            </div>
            </div></div></div>
