<div class="row">
  <div class="col-md-6">

    <%=form_tag "/jobposts/#{@post.id}", method: :patch do%>
    <br><br><br>
    <form class="form-horizontal">
      <div class="row"">
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-10 inputs-group">
            <%= label_tag :title %>
            <%= text_field_tag :title, @post.title,class:"form-control" %>
          </div>
        </div>
      </div>
      <div class="row"">
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-10 inputs-group">
            <%= label_tag :description %>
            <%= text_field_tag :description, @post.description, class:"form-control" %>
          </div>
        </div>
      </div>
      <div class="row"">
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-10 inputs-group">
            <%= label_tag :childs_birthdate %>
            <%= text_field_tag :birthdate, @post.birthdate,class:"form-control" %>
          </div>
        </div>
      </div>
      <div class="row"">
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-10 inputs-group">
            <%= label_tag :days_service_required %>
            <%= text_field_tag :days, @post.days,class:"form-control" %>
          </div>
        </div>
      </div>
      <div class="row"">
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-10 inputs-group">
            <%= label_tag :time_of_service_required %>
            <%= text_field_tag :time, @post.time,class:"form-control" %>
          </div>
        </div>
      </div>
      <div class="row"">
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-10 inputs-group">
            <%= label_tag :desired_enrollment_date %>
            <%= text_field_tag :desired_enrollment_date, @post.desired_enrollment_date ,class:"form-control" %>
          </div>
        </div>
      </div>
      <div class="row"">
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-10 inputs-group">
            <%= label_tag :amount_willing_to_pay %>
            <%= text_field_tag :salary, @post.salary,class:"form-control" %>
          </div>
        </div>
      </div>
      <div class="button" align="center">
        <%= button_tag "<span> Update the Job</span>".html_safe, class: "btn primary-btn"%>
      </div>
  </form>
</div>
</div>
<div align="center">
  <a href="/jobposts/#{@post.id}">Cancel Update</a>
</div>
<%end%>

