<% if current_user %>
<!-- Breadcrumb  -->
<section class="breadcrumb-section">
  <div class="container">
    <div class="col-sm-12 col-xs-12 text-center">
      <div class="breadcrumb-content">
        <h2>Job Details</h2>
      </div>
    </div>
  </div>
</section>
<!-- /.breadcrumb-section  -->
<!-- Blog Post Section -->
<section class="blog-post-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-lg-9 col-xs-12">
        <div class="blog-post-details">
          <h2><%= @post.title %></h2>
          <ul class="author-tag">
            <li><a href=""><i aria-hidden="true" class="fa fa-clock-o"></i> <%= @post.timestamp %></a></li>
            <li><a href="/users/<%=@post.user.id%>"><i aria-hidden="true" class="fa fa-user"></i> <%=@post.user.first_name%></a></li>
            <li><% if current_user && current_user.user_type == "SEEKER" && current_user.id == @post.user_id %>
              <li><%= link_to "Edit", "/jobposts/#{@post.id}/edit" %></li>
              <li><%= link_to "Delete", "/jobposts/#{@post.id}", method: :delete %></li>
              <% end %>
            </li>
            </ul>
            <p> <%= @post.description %> </p>
            <p> Job requirements is on these days of the week: <%= @post.days %>. I am looking for someone who can start from <%= @post.desired_enrollment_date%>. Expecting to find a babysitter whom I can pay <%=@post.salary%>.</p>
            <% if !@post.job_applications.empty? && current_user.user_type == "SEEKER"%>
            <div class="comment-section">
              <h3>Applicants for this job</h3>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Message</th>
                </tr>
              </thead>
              <% @post.job_applications.each do |application| %>
              <tbody>
                <tr>
                  <td><%= link_to application.user.first_name, "/profile/#{application.user.profile.id}" %></td>
                  <td><%= link_to application.information, "/profile/#{application.user.profile.id}" %></td>
                </tr>
              </tbody> 
              <% end %>
              <%end %>
            </table>
            <% if current_user && current_user.user_type == "SITTER" %>
            <%=form_tag "/jobapplications/#{@post.id}", method: :post do%>
            <form class="form-horizontal">
              <div class="form-group">
                <p> We will be sending your profile along with the application. If the seeker likes it then would get back to you. Do you want to add any 
                  <%= label_tag :personalized_message, nil,placeholder: "Add some information you need to highlight for the job" %></p>
                  <%= text_area_tag :information, "",class:"text-area"%>
                </div>
                <div class="button" align="center">
                  <%= button_tag "<span> Apply for the job </span>".html_safe, class: "btn primary-btn"%>
                </div>
                <%end%>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%else%>
      <a href="/login"><p>You need to be logged to see job details</p></a>
      <% end %>