<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h1>Edit account</h1>
    <% if @user && @user.errors.any? %>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li class="error"><%= message %></li>
        <%end%>
      </ul>
    <% end %>
    <%= form_tag "/users/#{@user.id}", method: :patch do %>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="form-group">
          <%=label_tag :first_name %>
          <%=text_field_tag :first_name,@user.first_name, class:"form-control" %>
        </div>
        <div class="form-group">
          <%=label_tag :last_name %>
          <%=text_field_tag :last_name,@user.last_name, class:"form-control" %>
        </div>
        <div class="form-group">
          <%=label_tag :address %>
          <%=text_field_tag :address, @user.address, class:"form-control"  %>
        </div>
        <div class="form-group">
          <%=label_tag :phone_no %>
          <%=text_field_tag :phone_no,@user.phone_no, class:"form-control" %>
        </div>
        <div class="form-group">
          <p><%=@user.email%>. *Email once created cannot be changed</p>
        </div>
        <div class="form-group">
        <p>You need to re-enter password</p>
        </div>
        <div class="form-group">
          <%=label_tag :password %>
          <%=text_field_tag :password, @user.password, class:"form-control" %>
        </div>
        <div class="form-group">
          <%=label_tag :password_confirmation %>
          <%=text_field_tag :password_confirmation, @user.password, class:"form-control"  %>
        </div>
        <div class="radio-inline">
          <%=label_tag :seeker%>
          <%=radio_button_tag :user_type,"SEEKER",class:"form-control" %>
        </div>
        <div class="radio-inline">
          <%=label_tag :sitter%>
          <%=radio_button_tag :user_type,"SITTER",class:"form-control" %>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= submit_tag "Submit" %>
          </div></div>
          <div>
            <a class="btn btn-default" href="/users/<%= @user.id %>" role="button">Cancel</a>
          </div>
          <% end %>
        </form>