<section class="breadcrumb-section">
  <div class="container">
    <div class="col-sm-12 col-xs-10 text-center">
      <div class="breadcrumb-content">
        <h2>Account Details</h2>
      </div>
    </div>
  </div>
</div>
</section>
<!-- /.breadcrumb-section  -->
<!-- Event Details Section -->
<section class="event-details-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="event-img">
          <img alt=""><%= image_tag @user.image_url %>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="single-event">
          <br>
          <h3><a href="#"><%= @user.first_name %></a></h3>
          <a href="#"><%= @user.email %></a>
          <a href="#"><%= @user.address %></a>
          <p><%= @user.timestamp %></p>   
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.event-section -->
<!-- Call to Action -->
<% if @user.id == current_user.id %>
<section class="callto-action-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="callto-content">
          <h2>Want to update some information?</h2>
          <div class="button" align="center">
            <a href="/users/<%=@user.id%>/edit">
              <%= button_tag "<span> Edit account</span>".html_safe, class: "btn primary-btn"%>
            </a>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% end %>
<!-- /.callto-action-section