<p><%= @post.title %></p>
<p><%= @post.description %></p>
<p><%= @post.birthdate %></p>
<p><%= @post.days %></p>
<p><%= @post.time %></p>
<p><%= @post.desired_enrollment_date%></p>
<p><%=@post.salary%></p>
